@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* SIDE NAV SECTION */

.generation-buttons-container {
    width: 100%;
    height: 100%;

    padding: 100;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.generation-buttons {
    width: 350px;
    height: 220px;

    display: flex;
    flex-direction: row;
    align-items: center;

    border: none;
    border-radius: 20px;

    text-decoration: none;

    position: relative;
    margin: 0 auto;
    padding-left: 15;

    transition: 0.3s;

    background-color: #141A1F;
}

.generation-buttons:hover {
    transition: 0.3s;

    background-color: #ff4757;
}

.generation-buttons h1 {
    font-family: "Lato";
    font-weight: 700;
    font-size: 150px;

    text-decoration: none;

    color: white;
}

.generation-buttons img {
    width: 300px;
    height: 300px;

    position: absolute;
    z-index: 1;
    top: -100;
    right: -100;

    border-radius: 20px;

    transition: 0.3s ease;
}



/* SOCIAL MEDIA BUTTONS */
.fa-youtube {
    transition: 0.3s;
}

.fa-linkedin {
    transition: 0.3s;
}

.fa-github {
    transition: 0.3s;
}

.fa-youtube:hover {
    color: #ff4757;
    transition: 0.3s;
}

.fa-linkedin:hover {
    color: #1e90ff;
    transition: 0.3s;
}

.fa-github:hover {
    color: #2f3542;
    transition: 0.3s;
}



/* RESPONSIVITY */
/* @media only screen and (max-width:1040px) {
    .side-nav {
        flex-direction: column;
    }

    .side-nav-title h1 {
        font-size: 3vw;
    }

    .generation-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
} */